doctype html
head
  link(rel='stylesheet' type='text/css' href='/assets/css/password-reset-styles.css')
  script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
  script(src='/assets/scripts/password-reset.js')
table(width='100%' border='0' cellspacing='0' cellpadding='0')
  tr
    td(align='center')
      .content
        img#logo(src='')
        h1 Password Reset
        p
          | Enter your new password.
        form#passwordReset(action='#' onsubmit='return handlePasswordResetForm()')
          input(name='newPassword' placeholder='New Password' type='password')
          input(name='confirmPassword' placeholder='Confirm Password' type='password')
          input.appButton(name='submit' type='submit' value='Submit')
          
br
br
#loader.editorForm
h3#success
  | Password successfully reset.
